<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Create a New Blog:</h2>
  
  <form class="new-blog-form">
    <div class="mb-3">
      <label for="blog-title" class="form-label">Blog Title:</label>
      <input class="form-input" type="text" id="blog-title" name="blog-name" />
    </div>
    <div class="mb-3">
      <label for="blog-desc" class="form-label">Content:</label>
      <textarea class="form-input" id="blog-desc" name="blog-desc" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
    </div>
  </form>
  <div class="col-md-6 blog-list">
    <h3>Current Blogs:</h3>
    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/blog/{{id}}">{{post_title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<script src="/js/dashboard.js"></script>